Nodes.csv

In [ ]:
id,name,type,description
1,Class 10,Education,Complete Class 10
2,Class 11-12 with PCB,Education,Choose Physics, Chemistry, Biology
3,NEET Preparation,Activity,Prepare for NEET exam
4,NEET Exam,Exam,National medical entrance exam
5,MBBS Admission,Milestone,Get admitted based on NEET score
6,MBBS Degree,Education,Complete 5.5 years medical degree
7,Internship,Activity,1 year mandatory internship
8,Specialization (MD/MS),Education,Optional post-graduation
9,Become Doctor,Milestone,Licensed practicing doctor
10,Class 11-12 with PCM,Education,Choose Physics, Chemistry, Math
11,Learn Programming,Skill,Start with Python or C++
12,B.Tech in CS / AI,Education,Undergrad in CS or AI
13,AI Projects & Internships,Activity,Hands-on projects and work
14,Learn ML/DL,Skill,Study Machine Learning & Deep Learning
15,M.Tech or Certifications,Education,Specialization in AI
16,Become AI Engineer,Milestone,Get hired as AI engineer
17,B.Sc in Physics,Education,Undergraduate in Physics
18,M.Sc in Physics,Education,Postgraduate in Physics
19,Research Experience,Activity,Research or assistantship
20,PhD in Physics,Education,Doctorate in Physics
21,Become Physicist,Milestone,Physicist in academia or labs
22,B.Ed or NET Exam,Exam,Certification for teaching
23,Become Physics Teacher,Milestone,School or college teacher

Edges.csv

In [ ]:
from,to,relationship
1,2,NEXT
2,3,NEXT
3,4,NEXT
4,5,NEXT
5,6,NEXT
6,7,NEXT
6,8,OPTIONAL
7,9,NEXT
8,9,NEXT
1,10,NEXT
10,11,NEXT
11,12,NEXT
12,13,NEXT
13,14,NEXT
13,16,NEXT
14,15,OPTIONAL
15,16,NEXT

from,to,relationship,career
1,10,NEXT,All
10,17,NEXT,All
17,18,NEXT,All

// Physicist path
18,19,NEXT,Physicist
19,20,NEXT,Physicist
20,21,NEXT,Physicist

// Teacher path
18,22,NEXT,Physics Teacher
22,23,NEXT,Physics Teacher

In [ ]:
// Load nodes
LOAD CSV WITH HEADERS FROM 'file:///nodes.csv' AS row
MERGE (:Step {id: toInteger(row.id), name: row.name, type: row.type, description: row.description});

// Load edges
LOAD CSV WITH HEADERS FROM 'file:///edges.csv' AS row
MATCH (a:Step {id: toInteger(row.from)}), (b:Step {id: toInteger(row.to)})
CREATE (a)-[:`NEXT`]->(b)
  ON CREATE SET r.type = row.relationship
  FOREACH (_ IN CASE WHEN row.relationship = 'OPTIONAL' THEN [1] ELSE [] END |
    CREATE (a)-[:OPTIONAL]->(b)
  );

Neo4j Bloom for interactive storytelling views.

Neovis.js (JavaScript + Neo4j) to embed interactive graphs in a website.

In [ ]:
MATCH (s:Step) OPTIONAL MATCH (s)-[r]->(t:Step) RETURN s, r, t

In [ ]:
CREATE (s:Student {name: "Riya", class: "10"});
MATCH (n:Step {name: "Class 10"})
CREATE (s)-[:STARTS_AT]->(n);

In [ ]:
MATCH (s:Student)-[:STARTS_AT]->(start)
MATCH path = (start)-[*]->(goal)
RETURN path

Create Shared Node Structure

In [ ]:
MERGE (class10:Step {id: 1, name: "Class 10", type: "Education", description: "Complete Class 10"})

// Doctor Path
MERGE (pcb:Step {id: 2, name: "Class 11-12 with PCB", type: "Education", description: "Choose Physics, Chemistry, Biology"})
MERGE (class10)-[:NEXT {career: "Doctor"}]->(pcb)

// AI Path
MERGE (pcm:Step {id: 10, name: "Class 11-12 with PCM", type: "Education", description: "Choose Physics, Chemistry, Math"})
MERGE (class10)-[:NEXT {career: "AI Engineer"}]->(pcm)

In [ ]:
MATCH path = (start:Step {name: "Class 10"})-[:NEXT*]->(goal:Step)
WHERE ALL(r IN relationships(path) WHERE r.career = "Doctor")
RETURN path

In [ ]:
// Load nodes
LOAD CSV WITH HEADERS FROM 'file:///nodes.csv' AS row
MERGE (:Step {id: toInteger(row.id), name: row.name, type: row.type, description: row.description});

// Load edges
LOAD CSV WITH HEADERS FROM 'file:///edges.csv' AS row
MATCH (a:Step {id: toInteger(row.from)}), (b:Step {id: toInteger(row.to)})
MERGE (a)-[r:NEXT]->(b)
SET r.career = row.career

In [ ]:
CREATE (s:Student {name: "Ankit", class: "10"});
MATCH (start:Step {id: 1})
CREATE (s)-[:STARTS_AT]->(start);

In [ ]:
MATCH (start:Step {id: 1})
MATCH path = (start)-[r:NEXT*]->(goal)
WHERE ALL(x IN r WHERE x.career = 'Physicist' OR x.career = 'All')
RETURN path